<nav role="navigation" class="section--header-navigation bg--blue spacing--vert-2 spacing--gutter">
	<ul class="dsk--flex flex--wrap justify--between">
		{% for item in menu.get_items %}
			<li class="nav-item {{item.classes | join(' ')}}">
				<a class="nav-link text--uppercase font--bold letter--1 color--white" href="{{item.get_link}}">{{item.title}}</a>
				{% if item.get_children %}
					<a class="trigger--sub"><label class="hidden--dsk">+</label></a>
					<ul class="nav nav-drop">
						{% for child in item.get_children %}
							<li class="nav-drop-item block bg--white spacing--vert-half spacing--horiz-half bg--white">
								<a class="nav-link text--uppercase font--standard color--gray" href="{{child.get_link}}">{{child.title}}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
		<li class="hidden--mob nav-item search"><i class="icon-search" data-grunticon-embed></i></li>

		<li class="hidden--mob nav-item language font--tiny color--yellow">Language   <i class="icon-angle-down" data-grunticon-embed></i></li>
	</ul>
</nav><!-- #nav -->