{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
{% block header %}
	{% include 'components/sections/section--header.twig' %}
{% endblock %}
<main role="main" class="content-wrapper">
	{% if title %}<h1>{{title}}</h1>{% endif %}
	{% block content %}
		Sorry, no content
	{% endblock %}
	{% include 'components/sections/section--footer-news.twig' %}
</main>
{% block footer %}
	
	{% include 'footer.twig' %}
	
	{{ function('wp_footer') }}
{% endblock %}
{% include 'components/analytics.twig' %}
<section class="section--email-signup">
	<div class="block--signup bg--cream grid--four-fifths grid--sm-two-thirds grid--md-half spacing--gutter margin--center spacing--vert-2">
		<label class="trigger--close font--tiny text--uppercase ">Close</label>
	{% if options.options.email.title %}<h5 class="transform--no font--standard font--one">{{options.options.email.title}}</h5>{% endif %}
	{% if options.options.email.embed %}<div class="margin--top-1">{{options.options.email.embed}}</div>{% endif %}
	</div>
</section>
</body>
</html>