{% extends "tease.twig" %}
{% block content %}
	<article class="tease tease-{{news.post_type}}" id="tease-{{news.ID}}">
		<div class="news--meta spacing--vert-1">
		<time datetime="{{ news.post_date|date('Y-m-d')}}" class="font--bold">{{news.post_date|date}}</time><br>
		<a href="{{news.news.publication.url}}" target="{{news.news.publication.target}}" title="{{news.news.publication.title}}" class="color--black text--uppercase font--small block">{{news.news.publication.title}}</a>
	</div>
		<h2 class="h3 font--abel font--thin"><a class="color--black" href="{{news.link}}">{{ news.title|length > 80 ? news.title|slice(0, 80) ~ '...' : news.title  }}</a></h2>
		{% if news.get_thumbnail %}
			<img src="{{news.thumbnail.src}}" />
		{% endif %}
		<br><a class="color--blue text--uppercase font--small" href="{{news.link}}">Read More</a>
	</article>
	
{% endblock %}