<section class="section--base-header">
		<img src="{{base.header.image|resize(300,89)}}" data-original="{{base.header.image|resize(1280, 380)}}" alt="{{base.header.image.caption}}" data-original-set="{{base.header.image|resize(1280, 380)}} 640w, {{base.header.image|resize(750, 223)}} 750w, {{base.header.image|resize(1080,320)}} 1080w, {{base.header.image|resize(1920,570)}} 1920w, {{base.header.image|resize(2880,855)}} 2880w" sizes="100vw">
</section>