<section class="section--get-involved-header section--base-header grid--one">
	<img src="{{post.thumbnail.src|resize(300,89)}}" data-original="{{post.thumbnail.src|resize(1280, 380)}}" alt="{{post.thumbnail.src.caption}}" data-original-set="{{post.thumbnail.src|resize(1280, 380)}} 640w, {{post.thumbnail.src|resize(750, 223)}} 750w, {{post.thumbnail.src|resize(1080,320)}} 1080w, {{post.thumbnail.src|resize(1920,570)}} 1920w, {{post.thumbnail.src|resize(2880,855)}} 2880w" sizes="100vw" width="100%">
</section>
