<section class="section--base-header">
	<img src="{{base.header.image|resize(300,160)}}" data-original="{{base.header.image|resize(1080,577)}}" alt="{{base.header.image.caption}}" data-original-set="{{base.header.image|resize(1138, 753)}} 640w, {{base.header.image|resize(750, 400)}} 750w, {{base.header.image|resize(1080,577)}} 1080w, {{base.header.image|resize(1920,1026)}} 1920w, {{base.header.image|resize(2880,1540)}} 2880w" sizes="100vw">
</section>