<section class="section--home-community bg--yellow">
	<img src="{{home.community.image|resize(300,100)}}" data-original="{{home.community.image|resize(1080,360)}}" alt="{{home.community.image.caption}}" data-original-set="{{home.community.image|resize(640, 213)}} 640w, {{home.community.image|resize(750, 250)}} 750w, {{home.community.image|resize(1080,360)}} 1080w, {{home.community.image|resize(1920,640)}} 1920w, {{home.community.image|resize(2880,960)}} 2880w" sizes="100vw" width="100%">
	<div class="flex flex--double flex--wrap justify--between spacing--gutter spacing--vert-3 spacing--dsk-vert-3 ">
		<div class="grid--one">
			<h4 class="text--center text--uppercase font--bold">{{home.community.title}}</h4>
			<hr class="small">
		</div>
		<div class="grid--one flex flex--double flex--wrap items--{{home.community.item|length}} spacing--vert-2">
			

		{% for item in home.community.item %}
			<div class="block--success nog spacing--vert-2 spacing--dsk-vert-4 grid--one {% if home.community.item|length > 3 %}grid--sm-half grid--md-half spacing--horiz-3 {% else %}grid--sm-third grid--md-third spacing--horiz-1{% endif %} text--center font--abel">
			<div class="h1 ">{{item.number}}</div>
			<div class="font--large text--uppercase short">{{item.text}}</div>
		</div>
		{# {% if loop.last %}{% else %}<span class="border"></span>{% endif %} #}
	{% endfor %}
</div>
	<div class="grid--one margin--top-1 margin--vert-dsk-0 text--center">
		<a class="button color--black center" href="{{home.community.link.url}}" target="{{home.community.link.target}}" title="{{home.community.link.title}}">{{home.community.link.title}}</a>
	</div>
</div>
</section>